@import url('https://fonts.googleapis.com/css?family=Ranga:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// fonts
$header-font: 'Ranga', cursive;
$main-font: 'Roboto', sans-serif;

// colors
$main-font-color: #212121;
$main-font-color-hover-pair: #757575;
$main-color: rgb(255, 206, 60);