@import url('https://fonts.googleapis.com/css?family=Ranga:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// fonts
$header-font: 'Ranga', cursive;
$main-font: 'Roboto', sans-serif;

// colors
$main-font-color: #212121;
$main-font-color-hover-pair: white;
$main-color: rgb(127, 191, 243); //rgb(255, 206, 60);
$light-color: rgb(168, 216, 255); //rgba(255, 236, 179, 1);