@import "variables";

.nav-item {
    list-style-type: none;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    header {
        .navigation {
            background-color: rgb(247, 175, 52);
            width: 100%;
            
            .header-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .main-header {
                font-family: $header-font;
                font-size: 2.3rem;
                color: $main-font-color;
                margin: 25px 35px;
            }
            
            .main-header:hover {
                text-decoration: none;
                color: $main-font-color-hover-pair;
            }
            
            .header-item {
                color: $main-font-color;
                font-family: $main-font;
                font-size: 1.4rem;
                font-style: italic;
                margin-top: 15px;
                margin: 25px 35px;
                align-self: center;
            }

            .header-item:hover {
                text-decoration: none;
                color: $main-font-color-hover-pair;
            }
        }
    }

    main {
        flex: 1 0 auto;

        .searchInputLine {
            margin-top: 10px;
        }

        .searchButton {
            margin-top: 10px;
        }

        .single_candidateInfoDiv {
            border: solid 1px $main-color;
            margin: 25px 0;
            display: flex;
            justify-content: space-between;
        }
        
        .single_candidateInfoDivOneOfThree {
            padding: 15px 0;
            margin-left: 25px;
        }

        .single_candidateInfoDivOneOfThree > p {
            overflow-wrap: break-word;
        }

        .single_candidateInfoTitles {
            font-size: 1.3rem;
        }

        .single_candidateInfoContent {
            font-size: 2rem;
        }

        #table {
            width: 100%;
            
            th {
                border: solid 1px #FFA000;
                width: 33%;
                padding: 7px;
            }

            td {
                border: solid 1px #FFC107;
                padding: 7px;
            }
        }

        .eye {
            text-align: center;
            width: 5%;
        }

        .outerModalDiv {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;
            background-color: rgba(0,0,0,0.5);
        }

        .innerModalDiv {
            display: table;
            width: 100%;
            height: 100%;
        }

        .innerInnerModalDiv {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            z-index: 100;
        }

        .mostInnerModalDiv {
            position: relative;
            width: 60%;
            height: 50vh;
            margin: 0 auto;
            padding: 15px;
            border-radius: 3px;
            background-color: $light-color;

            h2 {
                border-bottom: solid 1px #000000;
                font-family: $header-font;
                font-size: 2rem;
                text-align: center;
                margin: 15px 0px;
            }

            h3 {
                text-align: left;
                font-size: 1rem;
                font-style: italic;
            }

            p {
                text-align: left;
                font-size: 1.5rem;
            }

            #rightDiv {
                float: right;
            }

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 15px;
            }

            .closeButton {
                width: 40px;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }

    footer {
        background-color: $main-color;
        width: 100%;
        height: 50px;
        display: table;

        div {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            color: $main-font-color;
            font-size: 1.2rem;
            font-family: $header-font;
            padding-right: 15px;
        }
    }
}

